name: Deploy to Hostinger

on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v2

      - name: SSH and deploy
        uses: appleboy/ssh-action@master
        with:
          host: ${{ secrets.SERVER_IP }}
          username: ${{ secrets.SERVER_USER }}
          key: ${{ secrets.SERVER_SSH_KEY }}
          script: | 
             script: |
             
               cd /home/test.aimwin.in/public_html/super-Sports-fe-development
               npm install -g pm2
               pm2 stop nextapp || true
               echo "Ensure Git repo is linked"
               git config --global --add safe.directory /home/test.aimwin.in/public_html/super-Sports-fe-development
               git remote set-url origin https://github.com/SurajD07/nextjsdeploy.git || true
               git fetch --all
               git reset --hard origin/main

               echo "Loading NVM"
               export NVM_DIR="$HOME/.nvm"
               [ -s "$NVM_DIR/nvm.sh" ] && . "$NVM_DIR/nvm.sh"

               echo "Ensure Node 20 is active"
               nvm install 20
               nvm use 20

               echo "Install dependencies"
               npm install

               echo "Build Next.js"
               npm run build

               echo "Restart PM2"
               pm2 start npm --name nextapp -- start
               pm2 save       
               
